body { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e6ccb2;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  main .whole{
   background-color: white;
   margin: 1rem;
   border-radius: 1rem;
   width: 400px;
   max-width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
  
  .capp{
    display: flex;
    justify-content: space-end;
    flex-grow: 1;
    padding: 0;
    border-radius: 1rem;
    object-fit: cover;
    height: 300px;
    width: inherit;
    overflow: hidden;
  }
  
  .info {
    padding: 1rem;
    border-radius: 1rem;
   }
    
  main h1 {
    font-size: 1rem;
    color: #9c6644;
  }
  
  main h2{
    font-size: 2.2rem;
    color:#56341e;
  }
  
  .price{
    color: #9c6644;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
  }
  
  .buy{
    background-color:#56341e;
    color: #ffffff;
    text-align: center;
    border-radius: .5rem;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
  }
  
   
  