/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e6ccb2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main .whole{
 background-color: white;
 margin: 1rem;
 border-radius: 1rem;
 width: 400px;
 max-width: 90%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.capp{
  display: flex;
  justify-content: space-end;
  flex-grow: 1;
  padding: 0;
  border-radius: 1rem;
  object-fit: cover;
  height: 300px;
  width: inherit;
  overflow: hidden;
}

.info {
  padding: 1rem;
  border-radius: 1rem;
 }
  
main h1 {
  font-size: 1rem;
  color: #9c6644;
}

main h2{
  font-size: 2.2rem;
  color:#56341e;
}

.price{
  color: #9c6644;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
}

.buy{
  background-color:#56341e;
  color: #ffffff;
  text-align: center;
  border-radius: .5rem;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}

 
